//- create.jade
//-
//- create stage form
extends ../layout


block content
  a(href="/stage") Go Back
  form(method="POST" action="/stage/create")
    p
      input(name="name" placeholder="Stage Name" required=true)
    p
      input(name="four" hidden=true value=performance._id)
      input(name="six" hidden=true value=performance._id)
      input(name="eight" hidden=true value=performance._id)
      input(name="ten" hidden=true value=performance._id)
      input(name="twelve" hidden=true value=performance._id)
    p
      input(name="size" placeholder="Size" required=true)
    p
      input(name="notes" placeholder="Notes" required=false style="width:200px; height:200px; resize:both; overflow: auto;")
    p
      input(name="image" placeholder="Image link" required=false)
    p 
      button(type="submit") Create Stage