//- details.jade
//-
//-
//- view for a single artist
extends ../layout

block content
        h1= stage.name
        ul
            li
                img.image(src='#{stage.image}' alt="Image not loaded :(")
            li
                p Performers:
                    
                    each item in perfObjs
                        if item.name == "None."
                        
                        else
                            p= `Name: ${item.name}`
                            p= `Time: ${item.showtime}`
                            br
                
            li
                p The stage name #{stage.name}
            li
                p Stage size: #{stage.size}
            li
                p About the Stage:
                p= stage.notes
        a(href="/stage") Go Back 
        a(href="/stage/" + stage._id + "/update") Update Stage
        a(href="/stage/" + stage._id + "/delete") Delete