extends ../layout

block content
  h1= title
  #artistsList_cont
    h2 Meet the Woodstock Stages!
    ul.cards
        each stage in stages
          li.card
            a(href=`/stage/${stage._id}`)
              picture
                img.card-image(src=stage.image, alt="Stage image")
              h4= stage.name
              p= stage.notes
  #buttons_cont
    a(href="../") Home
    br
    if(user != null && user.role == "admin")
      a(href="stage/create") Create New Stage