extends ../layout

block content
  h1= title
  #artistsList_cont
    h2 Meet the Woodstock artists!
    ul.cards
        each artist in artists
          li.card
            a(href=`/artist/${artist._id}`)
              picture
                img.card-image(src=artist.image, alt="Artist image")
              h4= artist.name 
              p= artist.notes 
            
  #buttons_cont
    br
    if(user != null && user.role == "admin")
      a(href="artist/create") Create New Artist