//- update.jade
//-
//- update artist form
extends ../layout


block content
  a.btn(href="/artist") Go Back
  form(method="POST" style="text-align: center;")
    p
      input(name="ArtistId" hidden=true value=artist.ArtistId style="width: 500px;")
    p <u>Artist Name</u>
      br
      input(name="name" placeholder="Artist's Name" required=true value=artist.name style="width: 500px;")
    p <u>Notes</u>
      br
      input(name="notes" placeholder="Extra notes" required=false value=artist.notes style="width: 500px;")
    p <u>Image Link</u>
      br
      input(name="image" placeholder="Image link" required=false value=artist.image style="width: 500px;")
    button(type="submit") Update Artist