//- create.jade
//-
//- create performance form
extends ../layout


block content
  a(href="/performance") Go Back
  form(method="POST" action="/performance/create")
    p
      input(name="name" placeholder="Performance's Name" required=true)
    p
      select(name="artist",type=dropdown)
        each item in artists
          option(label=item.name,value=item._id)
    p 
      input(name="notes" placeholder="Extra notes" required=false style="width:200px; height:200px; resize:both; overflow: auto;")
    p 
      button(type="submit") Create Performance