//- details.jade
//-
//-
//- view for a single artist
extends ../layout

block content
        h1= performance.name
        a(href="/performance") Go Back
        if(user != null && user.role == "admin")
            a(href="/performance/" + performance._id + "/update") | Update Performance | 
            a(href="/performance/" + performance._id + "/delete") Delete
        p= `Artists performing:`
        ul
            each artist in performance.artists
                li 
                    p=artist.name
                    img.image(src='#{artist.image}' alt="Image not loaded lol")
                li  
                    p= `About the performance: ${performance.notes}`
        
        hr
        
        p Dates
        table(border=1, style="text-align: center;")
            thead
                th Starts at
                th Duration (hrs)
                th Stages
                if(user != null && user.role == "admin")
                    th Action
            tbody
                each performanceDate in performance.performanceDates
                    tr
                        td #{performanceDate.startsAt}
                        td #{performanceDate.durationHours}
                        td #{performanceDate.stages}
                            if(user != null && user.role == "admin")
                                td
                                    a(href="/performance/#{performance._id}/dates/#{performanceDate._id}/delete") DEL
                if(user != null && user.role == "admin")
                    form(method="post", action="/performance/#{performance._id}/dates")
                        tr
                            td 
                                input(name="startsAt", type="datetime-local")
                            td 
                                input(name="durationHours", type="number", value="1.5")
                            td 
                                select(name="stages", multiple=true)
                                    each stage in stages
                                        option(value=stage._id) #{stage.name}
                            td
                                button(style="background: none; border: 1px solid green") ADD
        hr
        