extends ../layout

block content
  h1= title
  h2 Meet the Woodstock Performances!
  form.performances(method="get", action=`/performance?sort=${sorting}&order=${ordering==='asc' ? 'desc' : 'asc'}`).query
    input(type="text", placeholder="Search..." name="q", value=`${q}`)
    button Search 
    
  form.performances(method="get", action=`/performance/stage`)
    div.select
      select(name="stages", id="stages",type=dropdown)
        option(selected disabled) Select stage
        each item in stages
          option(label=item.name,value=item._id)
    button#filter Filter
         
  .sort 
    p CURRENTLY SORTED BY:
    a(href=`/performance?sort=${sorting}&order=${ordering==='asc' ? 'desc' : 'asc'}&q=${q}`) 
      =sorting
      &nbsp;|&nbsp;
      =ordering
  ul.cards
    each performance in performances
      if performance._id == "5dd70b631c9d44000047006c"

      else
        li.card
          a(href=`/performance/${performance._id}`)
            h3= performance.name
            p= performance.notes
              
    br
    if(user != null && user.role == "admin")
      a(href="performance/create") Create New Performance