//- update.jade
//-
//- update artist form
extends ../layout


block content
  a(href="/performance") Go Back

  form(method="POST")
    p
      input(name="name" placeholder="Performance's Name" required=true value=performance.name)
    p
      select(name = "dropdown")
        each item in artist
          option(label=item.name,value=item)
    p 
      input(name="notes" placeholder="Extra notes" required=false style="width:200px; height:200px; resize:both; overflow: auto;" value=performance.notes)
    p
      button(type="submit") Update Performance